.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.menuPage {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    color: #fff; 
    background: linear-gradient(90deg, #1E0C00, #1F0700, #170A00, #1E0D00); 
    overflow-x: hidden;
    min-height: 100vh;
}

.pageTitle {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.categoryButtons {
    display: flex;
    justify-content: center;
    gap: 1rem; 
    margin: 2rem 0 4rem;
}

.categoryButtons button {
    font-family: "Montserrat", sans-serif; 
    border-radius: 30px; 
    padding: 0.6rem 1.4rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
    color: #f5f5f5; 
    font-weight: 300;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    border: none;
}

.categoryButtons button:hover {
    color: #f97316;
    background: #2A1005; 
}

.active {
    background: linear-gradient(90deg,#FF5924 0%, #FFA229 100%); 
    color: #fff;
    border-radius: 30px;
    padding: 0.8rem 2.5rem; 
    font-weight: 800;
    box-shadow: 0 5px 20px rgba(255, 140, 0, 0.5); 
    position: relative;
    z-index: 1; 
}

.active::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: inherit;
    border-radius: 35px;
    filter: blur(8px);
    opacity: 0.4;
    z-index: -1;
}

.pizzaGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 12fr));
    gap: 1.5rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

.pizzaCard {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background: transparent;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.pizzaCard:hover {
    transform: translateY(-5px);
}

.pizzaCard img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.pizzaCard h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
}

.pizzaCard p {
    font-size: 0.85rem;
    font-weight: 300;
    color: #ccc;
    max-width: 220px;
    line-height: 1.3rem;
    margin-bottom: 1rem;
    min-height: 50px;
}

.sizeSelection {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
    margin: 0.5rem 0 1.5rem 0; 
    width: 100%; 
}

.sizeCircle {
    width: 42px; 
    height: 42px;
    border-radius: 50%;
    border: 1px solid #555; 
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.selectedSize {
    background: linear-gradient(90deg, #FF6432, #FFA228);
    border: 1px solid transparent; 
    color: white; 
    transform: scale(1.05);
}

.ingridientsBtn {
    background: transparent;
    border: 1px solid #f97316;
    color: #f97316;
    padding: 0.6rem 1.5rem;
    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.2s;
    width: 80%;
}

.ingridientsBtn:hover {
    background-color: #f97316;
    color: #fff;
}

.cardBottom {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 0.7rem;
    margin-top: auto;
}

.priceAndQuantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    white-space: nowrap;
    color: #fff;
}

.quantityControl {
    display: flex;
    align-items: center;
    border: 1px solid #777; 
    border-radius: 25px;
    height: 35px; 
    overflow: hidden; 
    padding: 0;
}

.quantity {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    padding: 0 0.8rem;
}

.quantityBtn {
    background: transparent;
    border: none;
    color: #f97316; 
    font-size: 1.5rem;
    cursor: pointer;
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    padding: 0;
}

.orderBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 1.3rem;
    background: linear-gradient(90deg, #ff8c00 0%, #f97316 100%); 
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(249, 115, 22, 0.3);
}

.orderBtn:hover {
    opacity: 0.9;
}